{% extends 'base.html' %}

{% block app_content %}
<div class="row">
  <div class="col-md-9">
    <img src="https://connor-sm.github.io/lzb_law_html/images/nza_slideshow.jpg" alt="forest" class="img-fluid">
  </div>
  <div class="col-md-3">
    <div class="red-column" id="newsfeed">
      <span class="font-weight-bold">News Feed</span>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate harum voluptatibus suscipit veritatis iure adipisci iste, nostrum laboriosam placeat nobis hic blanditiis accusantium sequi corporis mollitia voluptatem magnam, perspiciatis sint?</p>
      <p>Cum provident quo voluptatem aspernatur ratione quasi nam architecto qui ex veniam facilis dolorum, eos accusantium debitis nobis repellat tempora eveniet expedita. Blanditiis culpa, libero deleniti quisquam aspernatur tempora autem.</p>
      <p>Sint voluptatum provident reiciendis sequi animi quisquam id dolore dolorem. Inventore ab nisi magni qui cum quisquam, ullam, sequi est corporis assumenda cupiditate, autem soluta ratione amet consequatur porro. Error.</p>
      <p>Dignissimos nam in repudiandae voluptates veniam qui quidem inventore magni, asperiores nulla a quaerat, eaque dolore voluptatum impedit ad iste dicta aliquid fugiat provident laudantium consequuntur minus non! Iure, animi.</p>
    </div>
  </div>
  </div>
  <div class="row add-top-margin">
  <div class="col-md-9 add-top-margin">
    <p class="font-weight-bold">Welcome to our website!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-md-3">
    <p class="font-weight-bold small">Yueh & Klein, P.C.</p>
    <p class="small">283 Franklin St, Suite 1800<br>
    Boston, Massachusetts 02138<br>
    781-666-9090 phone<br>
    222-333-4444 fax<br>
      <a href="#" class="email-link" id="contact-info">Email@gmail.com</a>
    </p>
  </div>
</div>
{% endblock %}
